<%page_title 'SDK下载'
%>
<div class="section">
	<div class="head">
		<h2>SDK下载</h2>
	</div>
	
	<div class="data_list">
	  <%= link_to image_tag("sdk_download_1.png"),''%>
	  <%= link_to image_tag("sdk_download_2.png"),sdks_list_sdks_path(:format=>:html)%>
	  <%= link_to image_tag("sdk_download_3.png"),''%>
	</div>			
</div>			

