<li id="<%= element_id ad_ex%>"><%= link_to ad_ex.name,decrease_ad_container_ad_owner_advertisement_publish_policy_path(@advertisement,@publish_policy,:ad_container_id=>ad_ex.id,:format=>:js),'data-method'=>:post,:class=>'remote'%></li>
